<div class="container">
    <h1>Pendientes</h1>

    <% if user_signed_in? %>

        <%= form_with model: @new_item, local: true do |form| %>
        <div class="field">
            <%= form.text_area :description, rows: 1, placeholder: "Ingresa la descripción" %>
        </div>

        <div class="actions">
            <%= form.submit "Guardar" %>
        </div>
        <% end %>

        <% if @items.any? %>
        <ul>
            <% @items.each do |item| %>
            <li>
                <strong><%= item.description %></strong>
                <%= link_to 'Editar', edit_item_path(item), class: 'btn btn-warning btn-sm' %>
                <br>
                Hecho: <%= item.done ? 'Sí' : 'No' %>
                <br>
                Creado el: <%= item.created_date.strftime("%B %d, %Y") %><br>
                <hr>
            </li>
            <% end %>
        </ul>
        <% else %>
            <p>No hay ítems pendientes.</p>
        <% end %>
    <% else %>
        <h1>Por favor inicie sesion para ver sus items<h1>
          <%= link_to 'Log in', new_user_session_path %>
    <% end %>

</div>